#softSkills {
    background-color: #111010;
    padding: 80px 0px;
    height: auto;
    padding: 0 150px;
}



.tituloHabilidades{
  font-size: 2rem;
  color: #c57e5f;
  padding-top: 2rem;
}

.habilidades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: #ccc;
    padding-bottom: 60px;
    
}

.containerHabilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 60px;
    
}

.habi-box {
    height: 106px;
    width: 106px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
    background-color: #ccc;

  }
  
.habi-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.descricao {
    width: 100%;
    max-width: 350px;
    height: 300px;
    font-size: 1rem;
    color: white;
}

.texto-descricao{
  padding-top: 20px;
  font-size: 1.4rem;
  text-align: center;
}


  
@media (max-width: 850px) {
    #softSkills .habilidades .containerHabilidades {
      height: 180px;
      width: 100%;
      max-width: 290px;
    }

    .descricao{
      display: flex;
      align-items: center;
    }

    .texto-descricao{
      font-size: 1.2rem;
      text-align: center;
      padding: 3rem 0 ;
    }

  }
  @media (max-width: 765px) {
    #softSkills .habilidades {
      gap: 10px;
      padding: 80px 0;
    }
    #softSkills .habilidades .habi-box {
      height: 76px;
      width: 76px;
      
    }
    #softSkills .habilidades .habilidades {
      height: 160px;
      max-width: 260px;
      font-size: 1.8rem;
      
    }
    .ajustes2{
      padding: 0px;
    }
    
  }
  @media (max-width: 685px) {
    #softSkills .habilidades {
      gap: 40px;
      flex-direction: column;
      width: 100%;
    }
      
    }
    #softSkills .habi-box {
      height: 86px;
      width: 86px;
      
    }
    #softSkills .descricao {
      max-width: 420px;
      font-size: 1.5rem;
      
    }

    .containerHabilidades {
      padding: 0;
  }
